body {
  background-color: #e7ddcb;
}
.nav-main {
  position: fixed;
  right: 0;
  margin-top: 1em;
  margin-right: 0.5em;
}
.cover-image {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("https://picsum.photos/300");
  height: 100%;
  min-height: 279px;
}
#welcome-section {
  background-color: #dce1e5;
}
#my-id {
  padding-top: 0.5em;
}
#work-section {
  padding-top: 0.25em;
}
.about-work {
  background-color: #ceddd4;
}
#logo {
  max-height: 9em;
}
hr {
  margin-top: 0;
}
#button-projects {
  padding-bottom: 0.5em;
}
* {
  overflow-x: hidden;
}
