body {
  background-color: #000000;
}
.cover-image {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("https://picsum.photos/300");
  height: 100%;
  min-height: 279px;
  border-bottom-left-radius: calc(0.25rem - 1px);
}
.main-dropdown,
i {
  -webkit-appearance: none;
  background-color: transparent;
}
#welcome-section {
  background-color: #e8f0f7;
  margin: 0.75rem;
}
.white-container {
  background-color: white;
}
#accordionSkills {
  padding: 1rem;
}
#my-id {
  padding-top: 0.5rem;
}
#work-section {
  padding-top: 0.25rem;
}
.about-work {
  padding: 0.75rem;
}
#logo {
  max-height: 9rem;
}
hr {
  margin-top: 0;
}
#button-projects {
  padding-bottom: 0.5rem;
}
#project-title {
  line-height: 1.6;
}
.project {
  height: 100%;
}
.project-content {
  padding: 1rem;
}
#list {
  padding-left: 0.5rem;
}
.skills-header {
  font-weight: 500;
}
html {
  overflow-x: hidden;
}
.accordion-header-icon {
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin-right: 1rem;
}
#automation-gear {
  animation-name: spin;
  animation-duration: 15000ms;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.offcanvas {
  transform: translateY(100%);
  margin-top: 5rem;
  background-color: rgba(213, 214, 214, 0.9) !important;
  max-height: 700px;
  margin-top: auto;
}
.windows-nav {
  height: 2.5rem;
  padding-top: 0;
  background-color: #d5d6d6 !important;
  z-index: 1046;
  visibility: hidden;
}

.bi-volume-mute:before {
  margin-right: 0.3rem;
  font-size: 1.1em;
  vertical-align: -0.1em;
}
body i {
  font-family: "FontAwesome" !important;
  font-style: normal;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.accordion-button:not(.collapsed) {
  color: #000000 !important;
  background-color: #e8f0f7 !important;
}
.accordion-button:focus,
.navbar-brand {
  box-shadow: none !important;
  outline: none !important;
}
