<style>
  .fake-nav {
    width: 100%;
    height: 2rem;
    background-color: #d5d6d6;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  .fake-buttons {
    position: absolute;
    right: 0.25rem;
    top: -0.15rem;
  }
  .window-action {
    font-size: 1.5rem;
  }
  .bi-x-square:hover {
    color: rgb(255, 0, 0);
  }
</style>
<div class="fake-nav position-relative">
  <div class="fake-buttons">
    <i class="bi window-action bi-dash-square"></i>
    <i class="bi window-action bi-plus-square"></i>
    <i class="bi window-action bi-x-square"></i>
  </div>
</div>
