<div class="dropdown">
  <button
    class="nav-main btn btn-secondary dropdown-toggle"
    data-bs-toggle="dropdown"
    type="button"
    id="dropdownMenuButton"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  ></button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Welcome</a>
    <a class="dropdown-item" href="#">Projects</a>
    <a class="dropdown-item" href="#">More about me</a>
    <a class="dropdown-item" href="#">For candidates</a>
  </div>
</div>
